@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    font-family: Montserrat;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,body{
    background-color: lightblue;
    height: 100%;
    margin: 0;
}

.grid-container{
    display: grid;
    position: relative;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 250px;
    /* grid-template-columns: 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(4, 250px); */
    /* grid-template-rows: 200px; */
     grid-auto-rows: minmax(150px, auto);
     /* grid-row-gap: 20px;
     grid-column-gap: 20px; */
     /* margin: 2%; */
    /* overflow: hidden; */
    grid-gap: 20px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content";
}

.grid-item{
    padding-top: 50px;
    font-size: 25px;
    border: 1px solid  rgb(126, 77, 126);
    position: relative;
    padding: 20px;
    background-color: rgb(223, 163, 223);
    color: yellow;
}

.grid-item:nth-child(odd){
    background-color: #ff8924;

}

.grid-item::before{
    content: 'Grid item';
    position: absolute;
    font-size:  25px;
    font-weight: bold;
    top: 10px;
    left: 15px;
}

.grid-item::after{
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 15px;
    font-weight: bold;
}

/* .grid-item-1::after, .grid-item-2::after{
    content: '1';
} */

.grid-item-1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column-end: 2; */
    grid-column-end: -1;
    grid-column-start: 1;
}

.grid-item-2{
    grid-column: 1 / -1;
}

.grid-item-3{
    grid-column-start: -1;
    grid-column-end: -1;
}
/* .grid-item-1{
    grid-area: header;
}
.grid-item-2{
    grid-area: sidebar;
}

.grid-item-3{
    grid-area: content;
} */

.grid-item-1::after{
    content: '1';
}

.grid-item-2::after{
    content: '2';
}

.grid-item-3::after{
    content: '3';
}

.grid-item-4::after{
    content: '4';
}

.grid-item-5::after{
    content: '5';
}

.grid-item-6::after{
    content: '6';
}

.grid-item-7::after{
    content: '7';
}

.grid-item-8::after{
    content: '8';
}

.grid-item-9::after{
    content: '9';
}

.grid-item-10::after{
    content: '10';
}

.grid-item-11::after{
    content: '11';
} 